table,
td,
th {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 22px;
}
h6 {
  margin-bottom: 5px;
  margin-top: 5px;
}
td {
  font-size: 11px;
}

.inline {
  display: inline-block;
  width: 100px;
}
.field {
  display: flex;
}
.index-number {
  width: 10px;
}
.code {
  width: 50px;
}
.name {
  width: 150px;
}
.price {
  width: 100px;
}
.description {
  width: 200px;
}
.status {
  width: 50px;
  text-align: center;
}
