.container {
  width: inherit;
  height: 100%;
  /* background-color: rgba(101, 101, 101, 0.3); */
  /* background-color: rgba(230, 231, 253, 0.3); */
  background-image: linear-gradient(
    to left bottom,
    #fc9ad2,
    #d98fd6,
    #b086d7,
    #7f7fd3,
    #3e78c9
  );
  /* background-image: url(./static/4891049.jpg); */
  /* background-size: contain;

  background-repeat: no-repeat; */
}
.bottom-spacing {
  margin-bottom: 15px !important;
}
